<%- include('../partials/header'); -%>
<div class="container">
  <div class="col">
    <% if(typeof article !== 'undefined') { %> 
    <form action="/articles/update" method="post" class="form mt-5">
    <h1>Edit Artikel</h1>
    <% } else { %>
    <form action="/articles/create" method="post" class="form mt-5">
    <h1>Tambah Artikel</h1>
    <% } %>
    
      <div class="form-group mt-3">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" <% if(typeof article !== 'undefined') { %> value="<%= article.title %>" <% } %>>
      </div>
      <div class="form-group">
        <label for="body">Body</label>
        <textarea class="form-control" name="body" rows="10"><% if(typeof article !== 'undefined') { %><%= article.body %><% } %></textarea>
      </div>
      <div class="form-group">
        <label for="approved">Approved</label>
        <select name="approved" id="approved" class="form-control">
          <option value="true" <% if(typeof article !== 'undefined' && article.approved === true) { selected="selected" } %>>Published</option>
          <option value="false" <% if(typeof article !== 'undefined' && article.approved === false) { selected="selected" } %>>Draft</option>
        </select>
      </div>
      <div class="form-group">
        <label for="title">Author</label>
        <select name="authorId" id="authorId" class="form-control">
          <% authors.forEach(function(author) { %>
          <option value="<%= author.id %>" <% if(typeof article !== 'undefined' && article.authorId == author.id) { selected="selected" } %>>
            <%= author.firstName %> <%= author.lastName %>
          </option>
          <% }); %>
        </select>
      </div>
      <div class="form-group">
        <% if(typeof article !== 'undefined') { %>
        <input type="hidden" name="id" value="<%= article.id %>">
        <% } %>
      </div>
      <button class="btn btn-primary" type="submit">submit</button>
    </form>
  </form>
</div>


<%- include('../partials/footer'); -%>
