<%- include('../partials/header'); -%>
    <div class="container-fluid mt-5">
        <div class="col">
            <a href="/articles/add" class="btn btn-dark mb-3">Tambah Artikel</a>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">
                        <input type="checkbox" value="all">
                    </th>
                    <th scope="col">Title</th>
                    <th scope="col" width="50%">Body</th>
                    <th scope="col">Approved</th>
                    <th scope="col">Author</th>
                    <th scope="col" width="10%">Aksi</th>
                </tr>
                </thead>
                <tbody>
                    <% articleList.forEach(function(article) { %>
                        <tr>
                            <th scope="row">
                                <input type="checkbox" value="<%= article.id %>">
                            </th>
                            <td><%= article.title %></td>
                            <td><%= article.body %></td>
                            <td><%= article.approved %></td>
                            <td><%= article.authorId %></td>
                            <td>
                                <a class="btn btn-primary" href="/articles/edit/<%= article.id %>">Ubah</a>
                                <a class="btn btn-danger" href="/articles/delete/<%= article.id %>">Hapus</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
<%- include('../partials/footer'); -%>

    